{% extends "base.html" %}

{% load svcs_extras %}
{% block content %}

<a name="A0" id="A0"></a> 
{% for s,num in stat_num.items|sort %}

    {% ifnotequal s "" %}
<h3> Service Status : <a href="#{{ s }}" > {{ s }} </a>: {{ num }} </h3>  
    {% endifnotequal %}

{% endfor %}


<br />
<br />

{% for status, smf_list in dict_status_smf.items|sort %}

    <a name="{{ status }}" id="{{ status }}"> </a><a href="#A0"> Back to Top</a> 

    <table class="table">
            {% for smf in smf_list  %}
    <tr>
     <td>
    Service Status :  <font  size=4>{{ status }} </font>
    
     </td> 
     <td>
    <a target="_self"  href=/svcs/smf?smf_name="{{smf}}"&relation="children">
<font color=red size=4>{{ smf }} </font>
    </a>
     </td> 
    </tr>
            {% endfor %}
    </table>


{% endfor %}
{% endblock %}
