{% load svcs_extras %}

<a name="A0" id="A0"></a> 
{% for s,num in stat_num.items|sort %}

    {% ifnotequal s "" %}
<span>Service Name: <a href="#{{ s }}" > {{ s }} </a>: {{ num }}   </span><br />
    {% endifnotequal %}

{% endfor %}

<br />

{% for status, smf_list in dict_status_smf.items|sort %}

<a name="{{ status }}" id="{{ status }}"> </a><a href="#A0"> Back to Top</a>  <br />
    {% ifnotequal smf_list "" %}

        {% for smf in smf_list  %}
<span>Service Name: {{ status }}   <a target="_self"  href=/smf?smf_name="{{smf}}"&relation="children"><b>{{ smf }}</b> </a> </span><br />
        {% endfor %}

    {% endifnotequal %}
    <br />

{% endfor %}
