{% extends "base.html" %}

{% load svcs_extras %}
{% block content %}

<h3><a target=_self href=/>Back to home page</a></h3><br />

<h3 >The {{ smf_relation }} of Service  <font color=red> {{ smf_name }} </font> are: </h3> <br />

{% ifnotequal smf_list "" %}

      <table class="table">
    {% for smf in smf_dep  %}
        <tr>
          <td>
<span>Service Status : 
<font size=4>
{{ dict_smf_status|key:smf }}     
  </font>
      </td>
          <td>
<a target="_self"  href=/svcs/smf?smf_name="{{smf}}"&relation="parent"><b>Servies Depends on it  </b> </a> 
          </td>

          <td>
<font color=red size=4>{{ smf }} </font>
          </td>
          <td>
<a target="_self"  href=/svcs/smf?smf_name="{{smf}}"&relation="children"><b>  It Depends on which Services </b> </a> 
          </td>
        </tr>
    {% endfor %}
      </table>

</span><br />


{% endifnotequal %}
    <br />


{% endblock %}
